{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %} MOVIE PROJECT {% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="{% static 'single_pages/assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'single_pages/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">

    <link href="{% static 'single_pages/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'single_pages/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'single_pages/assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'single_pages/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'single_pages/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'single_pages/assets/css/main.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="{% block body_class %} body_class {% endblock %}">
    <header id="header" class="header d-flex align-items-center position-relative">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
            <a href="{% url 'single_pages:index' %}" class="logo d-flex align-items-center me-auto me-lg-0">
                <h1 class="sitename">GP</h1>
                <span>.</span>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li class="dropdown"><a href="{% url 'single_pages:manager' %}"><span>Manager</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="#">문</a></li>
                            <li><a href="#">온습도</a></li>
                            <li><a href="#">쿠키 여부 입력</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="{% url 'single_pages:user' %}"><span>User</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="{% url 'single_pages:movie_list' %}">상영시간표 모아보기</a></li>
                            <li><a href="{% url 'single_pages:wizard' %}">영화 마법사</a></li>
                            <li><a href="https://cgvmate.com/cgv/event/giveaway" target="_blank">이벤트 현황 - CGV</a></li>
                            <li><a href="{% url 'single_pages:cookie' %}">쿠키 여부</a></li>
                            <li><a href="{% url 'single_pages:review' %}">리뷰 남기기</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>
    </header>

    <main class="main">
        {% block content %}
        <section class="image-section">
            <h2>영화 프로젝트</h2>
            <img src="{% static 'images/image1.jpg' %}" alt="영화 이미지 1" class="img-fluid">
            <img src="{% static 'images/image2.jpg' %}" alt="영화 이미지 2" class="img-fluid">
        </section>
        {% endblock %}
    </main>

    <footer id="footer" class="footer dark-background">
        <div class="container">
            <p>&copy; 2024
