<!DOCTYPE html>
{% load static %}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=decive-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ Post.title }} - Blog </title>


    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

     <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'blog/css/blog-post.css' %}" media="screen">
    <script src="http://kit.fontawesome.com/yugyoeng.js" crossorigin="anonymous"></script>


</head>
<body>
 <!--Preview Image-->
{% if post.head_image %}
    <img class="img-fluid rounded" csr="{{ post.head_image.url }}" alt="{{ post.tilte }} head_image">
{% else}
    <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image">
{% endif %}

<hr>

<!--Post Content-->
<p>{{ post.content }}</p>

{% if post.file_upload %}
    <a href="{{ post.file_upload.url }}" class="btn btn-outline-Secondary" role="botton" download>
    Download:

    {% if post.get_file_ext == 'csv' %}
        <i class="fas fa-file-csv"></i>
    {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xlsx' %}
        <i class="fas fa-file-excel"></i>
    {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
        <i class="fas fa-file-word"></i>
    {% else %}
        <i class="far fa-file"></i>
    {% endif %}
    {{ post.get_file_name }}
    </a>
{% endif %}

<hr>
<img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="">

</body>
