{% extends './layout.html' %}
{% load static %}

{% block content %}
<!-- Movie Section -->
<section id="movies" class="movies section">
  <div class="container">
    <!-- 추가할 텍스트 -->
    <div class="section-title" style="text-align: left; margin-bottom: 30px;"> <!-- text-align을 left로 변경 -->
      <h2 style="font-size: 25px; color: #555;">영화 목록</h2>  <!-- 영화 목록을 나타내는 제목 -->
      <br>
      <p style="font-size: 30px; font-weight: bold; color: #333;">제목을 눌러 상영 시간표를 확인해 보세요.</p>  <!-- 영화 목록 설명 텍스트 -->
    </div>

    <div class="row gy-4">
      {% for movie in movies %}
      <div class="movie" style="display: flex; margin-bottom: 20px; align-items: center;">
        <div style="flex-shrink: 0; margin-right: 20px;">
          {% if movie.image %}
          <img src="{{ movie.image.url }}" alt="{{ movie.title }}" style="width: 250px; height: 350px; object-fit: cover;">
          {% else %}
          <p>No image available</p>
          {% endif %}
        </div>

        <div style="flex-grow: 1;">
          <h1 style="font-size: 35px; font-weight: bold; margin-bottom: 10px;">{{ movie.title }}</h1>
          <p>개봉일: {{ movie.release_date|date:"Y년 n월 j일" }}</p>
          <p>쿠키 영상: {% if movie.cookie_status %} O {% else %} X {% endif %}</p>

          <p>{{ movie.description }}</p>

          {% if movie.naver_link %}
          <a href="{{ movie.naver_link }}" target="_blank" style="font-size: 16px; color: #1a73e8;">네이버에서 정보 더보기</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

{% block extra_styles %}
<style>
    body {
        background-color: #fff;
        color: #000;
    }
</style>
{% endblock %}
