<!DOCTYPE HTML>
{% load static %}
<html>
<html lang="kr">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <meta charset="utf-8">
    {% if title %}
      <title>응소 8조 - {{ title }}</title>
    {% else %}
      <title>응소 8조</title>
    {% endif %}
  </head>
 
  <body>
    <header>
      <nav>
        <a href="{% url 'single_pages:landing_pages' %}">Home</a> /
        <a href="{% url 'single_pages:about_yg' %}">About Yg</a> /
        <a href="{% url 'single_pages:about_jh' %}">About Jh</a> /
        <a href="{% url 'blog:post_list' %}">Blog List</a>
      </nav>
      
      <hr>
    </header>
 
    <main role="main">
    <!-- Main content block -->
    {% block content %}{% endblock %}
    </main>
  </body>
</html>
