
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}블로그{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1>나의 블로그</h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'post_list' %}">홈</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>


    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
