{% extends 'layout.html' %}
 
{% block content %}


<head>
    <meta charset="utf-8">
    <title>응소 8조(김유경, 송준혁)의 홈페이지</title>
    <link href="./static/practice.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="add_two_numbers.js"></script>
    <script type="text/javascript" src="what_time_is_it.js"></script>


    <style>
        h1, h2, h3, h4, h5, button, img, label, input, p {text-align: center; display: block; margin: 0 auto;}
    </style>
</head>

<body>

    <h1>응용소프트웨어개발 8팀</h1>
    <h2>안녕하세요. 응소 8팀입니다. 홈페이지를 통해 저희를 알아 보세요!</h2>

    <button onclick="whatTimeIsIt()">현재시간</button>
    <hr />

    <label for="inputA">a</label>
    <input id="inputA" value=1 onkeyup="doSomething()">
    <label for="inputB">b</label>
    <input id="inputB" value=2 onkeyup="doSomething()">

    <p><span id="valueA">1</span> + <span id="valueB">2</span> = <span id="valueC">3</span>입니다.</p>

    <hr />
    <img src="{{ url_for('static', filename='images/8team') }}" width="300px" alt="사진은 준비 중입니다." >
    
</body>

{% endblock %}

