<!-- todo/templates/todo/task_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>
    <ul>

        {% for task in tasks %}
            <li>
                {{ task.title }} - {% if task.completed %}Done{% else %}Pending{% endif %}
                <a href="{% url 'task_update' task.id %}">Edit</a>
                <a href="{% url 'task_delete' task.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'task_create' %}">Add New Task</a>
</body>
</html>
