{% load static %}



<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %} MOVIE PROJECT {% endblock %}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!-- Favicons:위에 로고처럼 뜨는 거 -->
        <link href="{% static 'single_pages/assets/img/favicon.png' %}" rel="icon">
        <link href="{% static 'single_pages/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'single_pages/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'single_pages/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'single_pages/assets/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'single_pages/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        <link href="{% static 'single_pages/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

        <!-- Main CSS File -->
        <link href="{% static 'single_pages/assets/css/main.css' %}" rel="stylesheet">


    </head>


    <body class="{% block body_class %} body_class {% endblock %}">
        <header id="header" class="header d-flex align-items-center position-relative">
            <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        
              <a href="{static 'single_pages:index' %}" class="logo d-flex align-items-center me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename">GP</h1>
                <span>.</span>
              </a>
        
              <nav id="navmenu" class="navmenu">
                <ul>
                  <li class="dropdown"><a href="{% url 'single_pages:manager' %}"><span>Manager</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li><a href="#">문</a></li>
                      <li><a href="#">온습도</a></li>
                      <li><a href="#">쿠키 여부 입력</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="{% url 'single_pages:user' %}"><span>User</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li><a href="{% url 'single_pages:timetable' %}">상영시간표 모아보기</a></li>
                      <li><a href="{% url 'single_pages:wizard' %}">영화 마법사</a></li>
                      <li><a href="{% url 'single_pages:event' %}">이벤트 현황</a></li>
                      <li><a href="{% url 'single_pages:cookie' %}">쿠키 여부</a></li>
                      <li><a href="{% url 'single_pages:review' %}">리뷰 남기기</a></li>
                    </ul>
                  </li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
              </nav>
      
            <a class="btn-getstarted" href="{% static 'single_pages/index' %}">Get Started</a>
      
          </div>
        </header>







        <main class="main">
        
          {% block content %}
          {% endblock %}

            
        </main>






        <footer id="footer" class="footer dark-background">

          <div class="footer-top">
            <div class="container">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                  <a href="{static 'single_pages/index %}" class="logo d-flex align-items-center">
                    <span class="sitename">GP</span>
                  </a>
                  <div class="footer-contact pt-3">
                    <p>A108 Adam Street</p>
                    <p>New York, NY 535022</p>
                    <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                    <p><strong>Email:</strong> <span>info@example.com</span></p>
                  </div>
                  <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
      
                <div class="col-lg-2 col-md-3 footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> Home</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> About us</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> Services</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> Terms of service</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> Privacy policy</a></li>
                  </ul>
                </div>
      
                <div class="col-lg-2 col-md-3 footer-links">
                  <h4>Our Services</h4>
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> Web Design</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> Web Development</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> Product Management</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> Marketing</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#"> Graphic Design</a></li>
                  </ul>
                </div>
      
                <div class="col-lg-4 col-md-12 footer-newsletter">
                  <h4>Our Newsletter</h4>
                  <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
                  <form action="forms/newsletter.php" method="post" class="php-email-form">
                    <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                  </form>
                </div>
      
              </div>
            </div>
          </div>
      
          <div class="copyright">
            <div class="container text-center">
              <p>© <span>Copyright</span> <strong class="px-1 sitename">GP</strong> <span>All Rights Reserved</span></p>
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
      
        </footer>

        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Preloader -->
        <div id="preloader"></div>

        <!-- Vendor JS Files -->
        <script src="{% static 'single_pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'single_pages/assets/vendor/php-email-form/validate.js' %}"></script>
        <script src="{% static 'single_pages/assets/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'single_pages/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'single_pages/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'single_pages/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'single_pages/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'single_pages/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

        <!-- Main JS File -->
        <script src="{% static 'single_pages/assets/js/main.js' %}"></script>

    </body>

    </body>

</html>